.header_wrapper {
  margin-bottom: 30px;
}

.header_close-container {
  display: flex;
  justify-content: flex-end;
}

.header_close-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.header_close-btn:hover {
  scale: 1.1;
}

.header_close-icon,
.header_close-name {
  color: #9293a5;
  font-size: 13px;
}

.header_title {
  color: #8c418a;
}
